MILVUS_URI=http://127.0.0.1:19530

MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_USERNAME=admin
MONGO_PASSWORD=CHANGE_ME
MONGO_AUTH_SOURCE=admin

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=CHANGE_ME
MINIO_SECURE=false